.box
{
    background-color: red;
    /*
    display: box;
    box-orient: horizontal;
    box-align: stretch;

    display: moz-flex;
    moz-justify-content: space-between;
    moz-align-item: stretch;*/
}

#products {
    display: box;
    box-orient: horizontal;
}

form label { display: block;}

#flash {  
    background-color: blue;
    color: white;
    margin-top: 9px;
    width: 100%; 
}